<div ng-controller="UmbGQLDemo.EditCarbonFootprint.Controller" class="container">




    <div class="umb-panel-header">
        <div class="umb-panel-header-content-wrapper">
            <div class="umb-panel-header-content">
                <div class="umb-panel-header-left-side">
                    <div class="umb-panel-header-title-wrapper">
                        <div class="umb-panel-header-name">{{itemName}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="umb-panel-body umb-scrollable row-fluid">
        <!--<div class="" ng-repeat="variant in variants">
            <div class="col-sm-8">
                {{ variant.name }}
            </div>
            <div class="col-sm-4">
                {{ variant.co2e }}
            </div>
        </div>-->

        <umb-box ng-repeat="variant in variants">
            <umb-box-header title="{{ variant.name }}"></umb-box-header>
            <umb-box-content>
                Carbon Dioxide Equivalent (CO2e) [grams]: <b>{{ variant.co2e }}g</b>
            </umb-box-content>
        </umb-box>
    </div>

</div>
